<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias alias="Member" type="com.earlybud.model.Member"/>
	<typeAlias alias="Authorities" type="com.earlybud.model.Authorities"/>
	<typeAlias alias="Message" type="com.earlybud.model.Message"/>
	<typeAlias alias="Category" type="com.earlybud.vo.CategoryVO"/>
	<typeAlias alias="MemberLike" type="com.earlybud.vo.MemberLikeVO"/>
	<typeAlias alias="SellerLike" type="com.earlybud.vo.SellerLikeVO"/>
	<typeAlias alias="Message" type="com.earlybud.vo.MessageVO"/>
</typeAliases>
<mappers>
	<mapper resource="mybatis/Member.xml"/>
	<mapper resource="mybatis/Message.xml"/>
	<mapper resource="mybatis/Category.xml"/>
	<mapper resource="mybatis/MemberLike.xml"/>
	<mapper resource="mybatis/SellerLike.xml"/>
	<mapper resource="mybatis/Message.xml"/>
</mappers>
</configuration>